

@media (max-width:1440px){
    .banner_girl_img img {
        right: 5%;
        width: 50%;
    }
    .hero_section {
        min-height: 74vh;
    }
}


/* ............................1440 end.......................... */
/* ............................1440 end.......................... */
/* ............................1440 end.......................... */


@media (max-width:1360px){
    .hero_img img {
        margin-top: 86px;
    }
    .hero_section {
        min-height: 72vh;
    }
}

/* ............................1360 end.......................... */
/* ............................1360 end.......................... */
/* ............................1360 end.......................... */

@media (max-width:1024px){

   .TopHeaderContent {
    margin-left: 40px;
      }
  .top_header_contents p {
    font-size: 11px;
       }
 .top_header_contents h5 {
    font-size: 20px;
        }

        .top_header_icon i {
            font-size: 30px;
        }
        .banner_contents h1 {
            font-size: 35px;
        }
        .banner_contents p {
            font-size: 16px;
            padding-right: 50px;
        }
        .banner_girl_img img {
            right: 1%;
            width: 58%;
        }
        .bannner {
            min-height: 75vh;
        }
        .banner_content {
            height: 75vh;
        }
        .hero_img img {
            margin-top: 163px;
        }
        .hero_section {
            min-height: 73vh;
        }
        .FooterLasticon i{
            margin-left: 7px;
        }
}

/* ............................1024 end.......................... */
/* ............................1024 end.......................... */
/* ............................1024 end.......................... */
@media (max-width:768px){
    .bannner {
        min-height: 70vh;
    }
    
.banner_content {
    height: 70vh;
}
    
.banner_contents h1 {
    font-size: 30px;
}
.banner_contents h3 {
    font-size: 27px;
}
.banner_contents p {
    font-size: 15px;
}
.banner_content {
    height: 70vh;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-34%);
   
}
.banner_girl_img img {
    right: 28%;
    width: 45%;
}
.Main_menu_right {
    width: 32%;
    margin: auto;
}
.nav-link {
    text-align: center;
}
.banner_contents h3 {
    font-size: 25px;
}
.banner_contents h1 {
    font-size: 27px;
}
.banner_contents p {
    font-size: 13px;
}
.bannear_h1 {
    padding: 14px 0;
}
.top_header_icon i {
    font-size: 15px;
}
.TopHeaderContent {
    margin-left: 5px;
}
.top_header_contents h5 {
    font-size: 15px;
}
.hero_contents {
    margin-left: -250px;
}
.hero_content_top {
    text-align: center;
    margin-left: -310px;
}
.hero_img img {
    margin-top: 85px;
    width: 55%;
    margin-left: 290px;
}
.hero_contents {
    padding-top: 152px;
}
.card_content_top h3 {
    font-size: 25px;
}
.owl-carousel .owl-item img {
    width: 60%;
}
.footer_left_contents p {
    font-size: 12px;
}
.img_contents p {
    font-size: 11px;
}
.img_contents h6 {
    font-size: 10px;
}
.position_bttn button {
    padding: 7px 8px;
}
.buttons form input {
    font-size: 13px;
    padding: 10px 7px;
}


.footer_social {
    display: inherit;
}
.navbar-brand{
    display: contents;
}
.TopIconImg {
    display: none;
}
.Widdthhh{
    width: 150px;
}
.TopHeaderRight {
    display: flex;
    justify-content: center;
    margin: 0 -95px;
    justify-content: normal;
}
}

/* ............................768 end.......................... */
/* ............................768 end.......................... */
/* ............................768 end.......................... */
@media (max-width:575px){
    .top_nav {
        display: none;
    }
    .hero_content_top {
        margin-left: 24px;
        padding: 10px 0 0 0;
    }
    .hero_contents {
        margin-left: 23px;
        text-align: center;
    }
    .hero_right_img1 img {
        margin-left: 250px;
    }
    .hero_img img {
        margin-top: 13px;
        margin-left: 135px;
    }
    .hero_contents {
        padding-top: 0px;
    }



    .banner_content {
        height: 55vh;
        position: static;
        transform: translateX(0%);
        text-align: center;
    }
    .banner_girl_img img {
        right: 29%;
        width: 48%;
    }
    .hero_img img {
        margin-top: 0px;
        /* margin-left: 100px; */
    }
    .hero_right_img1 img {
        /* margin-left: 175px; */
    }
    .banner_contents p {
        padding-right: 0;
    }
    .banner_bttn {
        display: flex;
        justify-content: center;
    }
    .hero_right_img1 img {
        margin-left: 247px;
    }
    .hero_img img {
        margin-left: 0;
    }
    .hero_img {
        text-align: center;
    }
    .Main_menu_right {
        width: 43%;
    }
    .img_margin {
        margin-left: 58px;
    }
    .FooterLasticon{
        padding: 10px 0;
    }
    .top_nav_toggle{
        display: contents;
    }
    .TopHeaderRight {
        display: flex;
        justify-content: end;
        padding: 10px 0;
        margin: 0;
    }
    
}
/* ............................575 end.......................... */
/* ............................575 end.......................... */
/* ............................575 end.......................... */

@media (max-width:425px){
    .banner_content {
        height: 55vh;
        position: static;
        transform: translateX(0%);
        text-align: center;
    }
    .banner_girl_img img {
        right: 24%;
        width: 56%;
    }
    .hero_img img {
        margin-top: 0px;
        /* margin-left: 100px; */
    }
    .hero_right_img1 img {
        margin-left: 175px;
    }
    .banner_contents p {
        padding-right: 0;
    }
    .banner_bttn {
        display: flex;
        justify-content: center;
    }
    .Main_menu_right {
        width: 65%;
    }
    .owl-carousel .owl-item img {
        width: 40%;
    }
    .img_margin {
        margin-left: 45px;
    }
    .TopHeaderRight {
        display: contents; 
        justify-content: end;
    }
    .TopHeaderContent {
        margin-left: 5px;
        padding: 5px 0;
    }
}
/* ............................425 end.......................... */
/* ............................425 end.......................... */
/* ............................425 end.......................... */

@media (max-width:375px){
    .hero_right_img1 img {
        margin-left: 145px;
    }
   
    .img_margin {
        margin-left: 38px;
    }
    .owl-carousel .owl-item img {
        width: 30%;
    }
    .banner_contents h1 {
        font-size: 26px;
    }
    .Main_menu_right {
        width: 74%;
    }
    .hero_right_content {
        padding: 15px 0;
    }
}
/* ............................375 end.......................... */
/* ............................375 end.......................... */
/* ............................375 end.......................... */


@media (max-width:320px){
    .hero_right_img1 img {
        margin-left: 120px;
    }
    .banner_contents h1 {
        font-size: 25px;
    }
    .banner_contents h3 {
        font-size: 20px;
    }
    .Main_menu_right {
        width: 80%;
    }
    .img_margin {
        margin-left: 30px;
    }
  
}